@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
html,body {font-family: "Cormorant Garamond", "Times New Roman" ,serif; font-size: 16px;}
p {font-family: "Times New Roman", Times, serif; }
h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif;}
      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }


      .bd-mode-toggle {
        z-index: 1500;
      }

      .bd-mode-toggle .dropdown-menu .active .bi {
        background-color:#bf2d13; color:#fff;
        display: block !important;
        }
.no-bd {border:none;}
.no-deco {text-decoration:none;}
.page-link {border:none;font-size:20px; }
.text-big {font-size:20px;}
.page-link:hover{background-color:#bf2d13; color:white;}
.img-cover {object-fit:cover; width:100%; height:250px;}
.img-issue {object-fit:cover; width:300px; height:250px;}
.img-logo {width:35px;height:35px;}
.img-logo-footer {width:314px;height:90px;}
.img-logo-nav {width:180px;height:50px;}
.darklight {background-color:transpatrent;}
.darklight:hover,.darklight:active{background-color:#e84c31; color:#fff;}
.dropdown-menu .active{background-color:#bf2d13; color:#fff;}
.navis:hover {border-bottom: 1px solid;}
.form-control:focus,
.form-select:focus {
  outline: none !important;
  border:1px solid #bf2d13;
  box-shadow: none;
}
select option:hover {
  box-shadow: 0 0 10px 100px #bf2d13 inset !important;
  color:white;
}
select option:checked{
  box-shadow: 0 0 10px 100px #bf2d13 inset !important;
  color:white;
  }
#toci,.toci ul,.toci li {
  list-style-type: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
  }
.tocil a {text-decoration: none;}
.abstract-post { overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;}
.img_widget {width:100%;height:150px; object-fit:cover;}
.link_doi { 
  word-wrap: break-word
}
.img_canopyt {width:100%; height:280px; object-fit:cover;}
.zoom:hover {  transform: scale(1.05)}.zoom {transition: transform 0.6s;}


[data-bs-theme=light] {
a.nav-link {color:#bf2d13; font-weight:bold;}
a,.page-link{color:#cf371c;}
a:hover{color:#d0290b;}
.menu-list {color:#cf371c;}
.bt-orange {border-top: 1px solid #cf371c;}
.bb-orange {border-bottom: 1px solid #cf371c;}
.border-orange {border: 1px solid #cf371c;}
.page-link:hover{background-color:#bf2d13; color:white;}
.btn-orange{background-color:#cf371c;padding:10px;color:#fff}
.btn-orange:hover, .orange{background-color:#bf2d13;padding:10px;color:#fff}
}
.content img {width:100%; height:auto;}
.img-pages {width:100%; height:250px; object-fit:cover;}


[data-bs-theme=dark] {
  a.nav-link {color:#e95339; font-weight:bold;}
  a,.page-link{color:#f36248;}
  a:hover{color:#e73515;}
  .menu-list {color:#ff8069;}
  .bt-orange {border-top: 1px solid #ff8069;}
  .bb-orange {border-bottom: 1px solid #ff8069;}
  .border-orange {border: 1px solid #ff8069;}
  .page-link:hover{background-color:#e24d33; color:white;}
  .btn-orange  {background-color:#fc6146;padding:10px;color:#fff}
  .btn-orange:hover,  .orange  {background-color:#ed6047;padding:10px;color:#fff}
  }
