<h3 class="col-md-12 p-1">{{widget_title}}</h3>
<div class="row">
{% for w in widget %}
<div class="col-md-3 p-3 zoom">
<div class="bg-body-tertiary text-center">
<a href="{{w.url}}" title="{{w.title}}" class="no-deco">{% if w.image %}<img class="img-fluid img_widget" 
alt="{{w.title}} {{metadata.title}}" loading="lazy" width="100%" height="100%" 
src="https://wsrv.nl/?url={{metadata.url}}{{w.image}}&w=350&h=150&output=webp"/>{% endif %}
<h3 class="p-3">{{w.title}}</h3>
</a>
</div>
</div>
{% endfor %}
</div>
