---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for page in collections.all %}
	{%- if page.url and page.data.eleventyExcludeFromCollections != true %}
	{% set absoluteUrl %}{{ page.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<url>
		<loc>{{ absoluteUrl }}</loc>
		{%- if page.date %}
		<lastmod>{{ page.date | htmlDateString }}</lastmod>
		{%- endif %}
	</url>
	{%- endif %}
{%- endfor %}
	<!-- Specialized Sitemap References -->
	<url>
		<loc>{{ metadata.url }}/sitemaps/citation-sitemap.xml</loc>
	</url>
	<url>
		<loc>{{ metadata.url }}/sitemaps/images-sitemap.xml</loc>
	</url>
	<url>
		<loc>{{ metadata.url }}/sitemaps/document-sitemap.xml</loc>
	</url>
</urlset>
