<div class="col-md-8 p-3 content content-essay">
<p>
<strong>Permalink:</strong> <i class="fa-solid fa-link me-1"></i>
<a href="{{doi}}">{{doi}}</a>
</p>
<p><strong>Abstract</strong></p>
<p class="mb-3">{{abstract}}</p><hr/>
{{ content | safe }}
</div>