<div class="bg-body-tertiary p-3">
{% if image %}<img class="img-fluid" alt="{{title}}" width="100%" height="100%" src="https://wsrv.nl/?url={{metadata.url}}{{image}}&w=400&output=webp"/>{% endif %}
{% if pdf %}<div class="border-top mt-3">
<a href="{{pdf}}" class="btn btn-orange mt-3 mb-3 col-12" download>
Download PDF <i class="bi bi-file-earmark-pdf-fill"></i>
</a>
</div>{% endif %}