<!doctype html>
<html lang="{{ metadata.language }}">
<head><script src="/js/color.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widgets/seo_essay.njk" %}
{% include "widgets/style.njk" %}
</head>
<body>
<div class="h-card d-none">
  <span class="p-name">{{ metadata.title }}</span>
  <a class="u-url" href="{{ metadata.url }}">{{ metadata.url }}</a>
  <img class="u-photo" alt="{{ metadata.title }}" src="{{ metadata.url }}{{ metadata.favicon }}">
</div>
{% include "widgets/dark_light.njk" %}
