<!doctype html>
<html lang="{{ metadata.language }}">
<head><script src="/js/color.js"></script>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "widgets/seo.njk" %}
{% include "widgets/style.njk" %}
</head>
<body>
{% include "widgets/dark_light.njk" %}