<div class="dropdown">
{% if citation_download %}<a href="{{citation_download.link}}" class="btn btn-orange col-12 btn-sm" type="button" download>
<small>{{citation_download.name}}</small>
</a>{% endif %}
</div>

