<div class="col-md-8 p-3 content content-essay journal-section">
<a class="u-url d-none" href="{{ metadata.url }}{{ page.url }}">{{ metadata.url }}{{ page.url }}</a>
{% if canonical %}
<p>
<strong>Canonical:</strong> <i class="fa-solid fa-link me-1"></i>
<a href="{{canonical}}">{{canonical}}</a>
</p>
{% endif %}
{% if doi %}
<p>
<strong>DOI:</strong> <i class="fa-solid fa-link me-1"></i>
<a href="{{doi}}">{{doi}}</a>
</p>
{% endif %}
<p><strong>Abstract</strong></p>
<p class="mb-3 p-summary">{{abstract}}</p><hr/>
<div class="e-content">
{{ content | safe }}
</div>
</div>
