{% include "widgets/head.njk" %}
<div data-pagefind-ignore>
{% include "widgets/nav.njk" %}
</div>
<main data-pagefind-body class="h-entry">
<a class="u-url d-none" href="{{ metadata.url }}{{ page.url }}">{{ metadata.url }}{{ page.url }}</a>
{{ content | safe }}
</main>
<div data-pagefind-ignore>
{% include "widgets/footer.njk" %}
</div>
