{% include "widgets/head_essay.njk" %}
<div data-pagefind-ignore>
{% include "widgets/nav.njk" %}
</div>
<main data-pagefind-body>
{{ content | safe }}
</main>
<div data-pagefind-ignore>
{% include "widgets/footer.njk" %}
</div>